GITLAB_TOKEN=
GITLAB_API_BASE_URL=https://git.gobies.org/api/v4

WORKFLOW_ISSUE_PROJECT_ID=893
WORKFLOW_ISSUE_PROJECT_PATH=Projects_MGMT/featuredesign
WORKFLOW_CODE_PROJECT_ID=2160
WORKFLOW_CODE_PROJECT_PATH=fofa-frontend/fofa-frontend-v5
WORKFLOW_BASE_BRANCH=develop
WORKFLOW_TARGET_BRANCH=develop
WORKFLOW_LABEL=前端
WORKFLOW_ASSIGNEE_USERNAME=chenba
WORKFLOW_ISSUE_LOG_PATH=issue/log.md
